body {
  background-color: coral;
  font-family: "Consolas";
  display: flex;
}

input {
  border: 0 none;
}

.search-container {
  width: 400px;
  position: relative;
  margin: 15px auto;
}
.search-container input,
.search-container .suggestions {
  width: 100%;
  background: #fff;
  text-align: left;
}
.search-container input {
  background: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0 10px;
}
.search-container .suggestions {
  position: absolute;
  top: 60px;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}
ul.has-suggestions {
  display: block;
}
ul li {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
ul li:hover {
  background-color: #e65c00;
}

input {
  border-bottom: 2px solid #e65c00;
}

h1 {
  color: red;
  font-size: 3em;
  text-align: center;
  font-family: "Consolas";
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#infoBox {
  background-color: #fff;
  padding: 20px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
  margin-bottom: 10px;
}

#closeButton {
  padding: 5px 10px;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Consolas";
  background-color: coral;
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  font-family: "Consolas";
  padding: 10px 15px 15px 15px;
  background-color: #ece3d1;
  color: #e09a0e;
  border: 2px solid #e09a0e;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
}
.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #e09a0e, #e09a0e 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #e09a0e;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #e6c583;
  color: #e09a0e;
  border-color: #e09a0e;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #e09a0e, #e09a0e 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #e09a0e;
  animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}

p {
  color: black;
  margin: 5px 0;
}

button {
  margin: 5px 0;
}

input {
  margin: 5px 0;
  font-family: "Consolas";
}

/*# sourceMappingURL=index.css.map */
